.menuContainer {
  position: relative;
}

.section1 {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 0.5rem 0;
}

.section1 .input {
  margin-top: 0.1rem;
  position: absolute;
  top: 100%;
  z-index: 15;
}

.section1 .input input {
  min-width: 300px;
  padding: 0.5rem 0;
}

.search {
  position: absolute;
  color: #000;
  z-index: 5;
  right: 0;
  margin-right: 0.5rem;
  font-size: 20px;
}

.styles.tavaSoDiv {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
